@use './utils/mixins' as *;
@use './utils/variables' as *;

.container {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 32px;
  }

  @include on-desktop {
    padding-inline: 40px;
    max-width: 1464px;
    margin-inline: auto;
  }

  &--header {
    max-width: none;
  }

  &--narrow-ontablet {
    @include on-tablet {
      padding-inline: 16px;
    }
  }
}
