@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.form-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: $text-color-main;
  @include font-size;

  &__input {
    color: inherit;
    border: $border-classic;
    border-radius: $border-input-radius;
    background-color: transparent;
    padding-block: 12px;
    padding-inline: 14px;
    font-size: inherit;
  }

  &__required {
    color: $button-color-light;
  }
}
