$anim-duration: 0.3s;
$tablet-width: 768px;
$desktop-width: 1024px;

$background-main: #121214;
$background-secondary: #1e1e20;
$background-extra-main: #39393b;
$background-extra-second: #4f4f51;
$background-extra-active-main: #b68867;
$background-extra-active-second: #c5a085;
$background-insurance: #2e2e2e;
$background-insurance-active: #b68867;

$text-color-icon: #bdbdbe;
$text-color-nav: #bdbdbe;
$text-color-secondary: #919192;
$text-color-main: #fefeff;
$button-color-dark: #3b2a25;
$button-color-light: #b68867;

$border-classic: 1px solid #4f4f51;
$border-input-radius: 8px;
